.footer {
    color: whitesmoke;
    align-content: flex-end;
    background-color: red;
    display: flex;
    width: 100%;
    align-items: flex-end;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    float: left;
    padding-left: 6rem;
}

.footer .about-us {
    font-size: 120%;
    box-shadow: inset 0 -3em 3em rgba(84, 2, 200, 0.938), 0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(77, 3, 197, 0.961);
    margin: 15px;
    padding-left: 10px;
    margin-left: 40px;
    border-radius: 7px;
    height: 250px;
    width: 300px;
}

.footer .Product-link {
    font-size: 120%;
    box-shadow: inset 0 -3em 3em rgba(84, 2, 200, 0.938), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(77, 3, 197, 0.961);
    margin: 15px;
    padding-left: 10px;
    margin-left: 40px;
    border-radius: 7px;
    height: 250px;
    width: 300px;
}

.footer .connect-links {
    font-size: 120%;
    box-shadow: inset 0 -3em 3em rgba(84, 2, 200, 0.938), 0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(77, 3, 197, 0.961);
    padding-left: 10px;
    margin: 15px;
    margin-left: 40px;
    border-radius: 7px;
    height: 250px;
    width: 300px;
}

.reserved {
    color: whitesmoke;
    text-align: center;
    align-items: center;
    background: #000;
}

.reserved p {
    
    padding-bottom: 10px;
}

@media screen and (max-width: 700px) {
    .footer {
        padding: 0;
    }

}